
.home-wrapper{

    margin-left:240px;
    overflow-y: hidden;
    padding-right:15px

}

.dashboard-wrapper{
    margin-top: 30px;
    display:flex;
    gap: 15px;
    flex-wrap: wrap;
}

.dashboard-wrapper .box{
    
    flex:1 0 20% ;
    min-width: 325px;
    min-height: 370px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(255, 150, 66, .4);
    background-color: white;

}

.dashboard-wrapper .l-box{

    flex:2 0 40%;
    min-width: 500px;
    min-height:300px;
    align-self: stretch;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(255, 150, 66, .4);
    background-color: white;


}

.box-header{
    display: block;
    margin:.7rem;
    font-size: 1.1rem;

}

@media only screen and (max-width:1500px){

    .dashboard-wrapper .box{
    
        min-width: 300px;
        min-height: 350px;
   
    }
    
    .dashboard-wrapper .l-box{
    
        min-width: 350px;

    
    
    }
}

